<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Whatsuop!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        Add in Custom Rooms to talk with Executive!.
      </p>
    </div>
  </div>
</div>
<style type="text/css">
  body {
    background-color:  linear-gradient(90deg,#257bf9,#2426ca);
  }
  .alert-primary {
    color: #000000;
    background-color: #0c82d624;
    border-color: #b8daff;
    width: 700px;
    height: 200px;
}
  
</style>
