<h1>
  New Custom room  
</h1>

<center><%= render partial: 'form' %></center>
<style type="text/css">
	#room_name{
    width: 400px;
    border-right-width: unset;
    background-color: transparent;
    color: white;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {            
    $('input').attr('required', true);   
  });
</script>