.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}
.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
  }
  .chat {
  border: 1px solid lighten($secondary, 40%);
  background: #00000054;
  height: 50vh;
  width: 100vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 67%;
    margin-bottom: 0;
}